{% for m in mass%}
                <div class="mas_wrap" data-mass-id='{{m.id}}'>
                    <div>
                    <span class='head'>{{m.author.first_name}} {{m.author.last_name}}, {{m.date|date:"G:i j.n.Y"}} </span>
                        {%ifequal m.author user%}
                            <span class='edit' class='head' >Редактировать</span>
                        {%endifequal%}
                    <div class='content'>
                        <pre>{{m.text_massage}}</pre>
                    </div>
                    {%if m.comments_set.all.count%}
                    <div class='show_comm' data-index='0'><span>Показать комментарии</span></div>
                    {%endif%}
                    {% if user.is_authenticated%}
                            <span class="add_comm_btn" data-index='0'>Комментировать</span>
                    {%endif%}
                    
                    <hr/>
                    </div>
                </div>
               
{%endfor%}   