{% for m in mass%}
                <div class="mas_wrap" data-mass-id='{{m.id}}'>
                    <div>
                    <span class='header'>{{m.author.first_name}} {{m.author.last_name}}  <span>{{m.date|date:"G:i j.n.Y"}}</span></span>

                        {% if user.is_authenticated%}
                            <span class="add_comm_btn" data-index='0'>Комментировать</span>
                        {%endif%}
                         {%ifequal m.author user%}
                            <span class='edit' class='head' >Редактировать</span>
                        {%endifequal%}
                        <hr/>
                    <div class='content'>{{m.text_massage}}</div>

                    {%if m.comments_set.all.count%}
                    <div class='show_comm' data-index='0'> Показать комментарии </div>
                    {%endif%}

                    
                    
                    </div>
                   
                </div>
               
{%endfor%}   