<!DOCTYPE HTML>
{% load staticfiles %}
{% load poll_extras %}
<html>
        <head>
            <title>Test</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/myScript.js' %}"></script>
        </head>
        <body>
        <div>
        {%include 'register/register_and_add.html'%}

        </div>
        <form  id='add_comm_form' method='post' action ='{% url "add_comm"%}'>{% csrf_token %}
            <div class='add_comm'>
                <input type='hidden' name='' value=''>
                <textarea name='text_comm' required placeholder='Оставьте комментарий'></textarea>
                <button type='submit'>Комментировать</button>
            </div>
        </form>
       
        <img id='up' style='display:none'src='{% static "images/up.png" %}'>
        </body>
</html>