body{
    width:80%;
    margin:10px auto;
    text-align:justify;
}
textarea{
    margin:10px 0 ;
    display:block;
}

.comment{
    margin-left:50px;
}


.edit{
    float:right;
}
.edit:hover
{
    cursor:pointer;
    
}

